.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 4px;
  margin: 16px 0;
}

.list-group-numbered {
  list-style-type: none;
  counter-reset: section;
}

.list-group-numbered > .list-group-item::before {
  content: counters(section, ".") ". ";
  counter-increment: section;
}

.list-group-flush {
  border-radius: 0;
}

.list-group-flush > .list-group-item {
  border-width: 0 0 1px;
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 12px 16px;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.list-group-item:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.list-group-item:hover {
  z-index: 1;
  color: #212529;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group-item:focus {
  z-index: 2;
  color: #212529;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.list-group-item.disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}

