.table {
  width: 100%;
  margin-bottom: 16px;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
  border-collapse: collapse;
}

.table > :not(caption) > * > * {
  padding: 8px;
  background-color: transparent;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px transparent;
}

.table > thead {
  vertical-align: bottom;
}

.table > tbody {
  vertical-align: inherit;
}

.table-striped > tbody > tr:nth-of-type(odd) > td,
.table-striped > tbody > tr:nth-of-type(odd) > th {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}

.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-dark {
  color: #fff;
  background-color: #212529;
}

.table-dark > thead > tr > th {
  border-color: #373b3e;
}

.table-dark > tbody > tr > td {
  border-color: #373b3e;
}

